<body>
  <div class="sign-in">
    <div class="decoration"></div>
    <div class="div"></div>
    <div class="decoration-2"></div>
    <div class="final-autolayout">
      <div class="decoration-3"></div>
      <div class="decoration-4"></div>
      <div class="autolayout-form">
        <div class="logo">
          <img class="alarm-icon" [src]="currentIcon" [class.fade-out]="fading" alt="Alarm" />
          <img class="SFL" src="assets/SFL.svg" />
        </div>

        <form class="autolayout" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="label">Вхід до акаунту</div>
          <div class="registration-form">
            <div class="registration-form-2">
              <div class="registration-form-3">
                <div class="registration-form-4">
                  <div class="div-2">
                    <div class="text-wrapper">Електронна пошта</div>
                    <div class="input">
                      <img class="input-icon" src="assets/email.svg" alt="Email icon" />
                      <input type="email" formControlName="email" placeholder="Наприклад, user@gmail.com" required />
                    </div>
                  </div>

                  <div class="div-2">
                    <div class="text-wrapper">Пароль</div>
                    <div class="input">
                      <img class="input-icon" src="assets/key.svg" alt="Key icon" />
                      <input id="password" [type]="passwordVisible ? 'text' : 'password'" formControlName="password"
                        placeholder="Введіть пароль" required />
                      <img class="input-icon-eye" src="{{
                          passwordVisible
                            ? 'assets/icon-eye-open.svg'
                            : 'assets/icon-eye-closed.svg'
                        }}" (click)="togglePassword()" />
                    </div>
                  </div>
                </div>

                <div class="link">
                  <a routerLink="/auth/restore-password" class="login-label">
                    <div class="text-wrapper-2">Відновити пароль</div>
                  </a>
                </div>
              </div>

              <button type="submit" class="button">
                <div class="text-wrapper-3">Увійти</div>
              </button>
            </div>

            <div class="link-to-registration">
              <div class="text-wrapper-account">Не маєте акаунта?</div>
              <a routerLink="/auth/signup" class="login-label">
                <div class="text-wrapper-sign-up">Зареєструватись</div>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="decoration-5"></div>
  </div>
</body>