.log-in {
    background-color: #f8fbff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.log-in .div-2 {
    background-color: var(--white-text);
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.log-in .overlap-group {
    height: 1020px;
    left: 195px;
    position: absolute;
    top: 45px;
    width: 1040px;
}

.log-in .ellipse {
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
    height: 246px;
    left: 0;
    opacity: 0.65;
    position: absolute;
    top: 774px;
    width: 246px;
}

.log-in .ellipse-2 {
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
    height: 246px;
    left: 794px;
    opacity: 0.65;
    position: absolute;
    top: 0;
    width: 246px;
}

.log-in .sign-up-form {
    background-color: #edf1f8;
    border: none;
    border-radius: 64px;
    height: 718px;
    left: 143px;
    overflow: hidden;
    position: absolute;
    top: 108px;
    width: 765px;
}

.log-in .sign-up-form::before {
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    background: linear-gradient(180deg, rgba(53, 93, 170, 1) 0%, rgba(110, 144, 255, 1) 100%);
    border-radius: 64px;
    content: "";
    inset: 0;
    mask-composite: exclude;
    padding: 1px;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.log-in .ellipse-3 {
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
    height: 246px;
    left: 675px;
    opacity: 0.65;
    position: absolute;
    top: 98px;
    width: 246px;
}

.log-in .ellipse-4 {
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
    height: 246px;
    left: -134px;
    opacity: 0.65;
    position: absolute;
    top: 483px;
    width: 246px;
}

.log-in .ellipse-5 {
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
    height: 246px;
    left: -134px;
    opacity: 0.6;
    position: absolute;
    top: -82px;
    width: 246px;
}

.log-in .cancel-instance {
    height: 40px !important;
    left: 691px !important;
    position: absolute !important;
    top: 38px !important;
    width: 40px !important;
}

.log-in .logo-instance {
    display: flex !important;
    gap: 12.36px !important;
    height: 38px !important;
    left: 312px !important;
    position: absolute !important;
    top: 40px !important;
    width: 140px !important;
}

.log-in .design-component-instance-node {
    height: 37.08px !important;
    position: relative !important;
    width: 37.08px !important;
}

.log-in .logo-2 {
    height: 39.62px !important;
    margin-bottom: -0.81px !important;
    margin-top: -0.81px !important;
    width: 90.48px !important;
}

.log-in .frame-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 26px;
    left: 173px;
    position: absolute;
    top: 144px;
    width: 417px;
}

.log-in .text-wrapper-3 {
    align-self: stretch;
    color: var(--additional);
    font-family: "Montserrat Alternates-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 44.2px;
    margin-top: -1px;
    position: relative;
}

.log-in .frame-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 64px;
    position: relative;
    width: 100%;
}

.log-in .frame-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 28px;
    position: relative;
    width: 100%;
}

.log-in .frame-5 {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
}

.log-in .frame-6 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
}

.log-in .frame-7 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 100%;
}

.log-in .text-wrapper-4 {
    align-self: stretch;
    color: var(--additional);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    margin-top: -1px;
    position: relative;
}

.log-in .frame-100 {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    margin-bottom: -1px !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
    width: 100% !important;
}

.log-in .icon-instance-node {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.log-in .view {
    left: -1px !important;
}

.log-in .frame-instance {
    align-self: stretch !important;
    width: 100% !important;
}

.log-in .frame-8 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.log-in .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}

.log-in .text-wrapper-5 {
    color: var(--secondary);
    font-family: var(--h-4-font-family);
    font-size: var(--h-4-font-size);
    font-style: var(--h-4-font-style);
    font-weight: var(--h-4-font-weight);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.log-in .view-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 64px;
    justify-content: center;
    position: relative;
}

.log-in .component-237 {
    left: -2px !important;
}

.log-in .ellipse-6 {
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
    height: 246px;
    left: -136px;
    opacity: 0.65;
    position: absolute;
    top: 134px;
    width: 246px;
}

.log-in .ellipse-7 {
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
    height: 246px;
    left: 1334px;
    opacity: 0.65;
    position: absolute;
    top: 720px;
    width: 246px;
}