.course-menu,
.course-menu * {
    box-sizing: border-box;
}

.course-menu {
    background: #cfd6e2;
    padding: 24px 48px 24px 24px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow-y: auto;
}

.background {
    background: #ffffff;
    border-image-slice: 1;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    max-width: 1600px;
    position: relative;

    background:
        linear-gradient(var(--white-text, #dbebf8), var(--white-text, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
}

.decoration2 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.33;
    flex-shrink: 0;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 708px;
    top: 473px;
    filter: blur(124.4px);
}

.decoration3 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.33;
    flex-shrink: 0;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 1078px;
    top: 132px;
    filter: blur(124.4px);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.breadcrumb-header {
    background: var(--decoration, #dbebf8);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;

    background:
        linear-gradient(var(--decoration, #dbebf8), var(--decoration, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
}


.back-logo {
    position: relative;
    width: 48px;
    height: 48px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.back-logo:hover {
    transform: scale(1.1);
}

.frame-264 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.course-module-complete {
    background: var(--white-text, #f9fbff);
    border-radius: 12px;
    padding: 10px 24px 10px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.module-complete-count {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
}

.course-score-padding {
    background: var(--tertiary, #5080e2);
    border-radius: 12px;
    padding: 10px 24px 10px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.course-score {
    color: var(--white-text, #f9fbff);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h2-font-weight, 700);
    position: relative;
}

.frame-247 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-249 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.certificate {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.div2 {
    color: var(--grey-text, #848ca9);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
}

.course-label {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.div3 {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h1-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h1-font-size, 36px);
    line-height: var(--h1-line-height, 130%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
    flex: 1;
}

.autolayout {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.autolayout-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.description-course {
    color: var(--primary);
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;

    background:
        linear-gradient(var(--secondary), var(--secondary)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
}

.div4 {
    color: var(--white-text, #f9fbff);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    flex: 1;
}

.module-list {
    border-radius: 12px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    background:
        linear-gradient(var(--decoration, #dbebf8), var(--decoration, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
}

.module-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

.module-card:hover {
    transform: scale(1.05);
    background:
        linear-gradient(var(--white-text, #dbebf8), var(--white-text, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
}

._1 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h1-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h1-font-size, 36px);
    line-height: var(--h1-line-height, 130%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
}

.img {
    border-radius: 12px;
    flex-shrink: 0;
    width: 180px;
    height: 180px;
    position: relative;
    object-fit: cover;
    aspect-ratio: 1;
}

.module-fucntions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.module-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.div5 {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h2-font-family,
            "MontserratAlternates-SemiBold",
            sans-serif);
    font-size: var(--h2-font-size, 24px);
    line-height: var(--h2-line-height, 140%);
    font-weight: var(--h2-font-weight, 600);
    position: relative;
    flex: 1;
}

.checker {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.div6 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.elements-module {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.article {
    background: var(--white-text, #f9fbff);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

._12 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
}

.lection {
    background: var(--white-text, #f9fbff);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.test {
    background: var(--primary, #355daa);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.div7 {
    color: var(--white-text, #f9fbff);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
}

.module-card2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

.module-card2:hover {
    transform: scale(1.05);
    padding: 16px;
    background:
        linear-gradient(var(--white-text, #dbebf8), var(--white-text, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
}

._2 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h1-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h1-font-size, 36px);
    line-height: var(--h1-line-height, 130%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
}

.checker2 {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

._22 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
}

.module-card3 {
    display: flex;
    flex-direction: row;
    gap: 17px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

.module-card3:hover {
    transform: scale(1.05);
    padding: 16px;
    background:
        linear-gradient(var(--white-text, #dbebf8), var(--white-text, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
}

._3 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h1-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h1-font-size, 36px);
    line-height: var(--h1-line-height, 130%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
}

.checker3 {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

._32 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
}

.button {
    background: var(--grey-text, #848ca9);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 442px;
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    width: 600px;
    background-color: #223f78;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 24px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background:
        linear-gradient(var(--secondary, #dbebf8), var(--secondary, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    color: var(--white-text, #f9fbff);
    text-align: center;
    font-family: var(--h3-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h2-font-weight, 700);
}

.button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.div8 {
    color: var(--white-text, #f9fbff);
    text-align: center;
    font-family: var(--h3-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h2-font-weight, 700);
    position: relative;
    flex: 1;
}

.about-link {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h2-font-family,
            "MontserratAlternates-SemiBold",
            sans-serif);
    font-size: var(--h2-font-size, 24px);
    line-height: var(--h2-line-height, 140%);
    font-weight: var(--h2-font-weight, 600);
    text-decoration: underline;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

.about-link:hover {
    transform: scale(1.05);
    color: var(--secondary);
}