<div class="module-menu">
    <app-sidebar></app-sidebar>
    <div class="course-page">
        <div class="decoration2">
        </div>
        <div class="decoration3">
        </div>
        <div class="main-page">
            <div class="description">
                <div class="description-1">
                    <div class="description-2">
                        <div class="description-3">
                            <div class="navbar">
                                <img class="back-logo" src="assets/back-logo.svg" routerLink="/learning/course-menu" />
                                <div class="navbar-section">
                                    <div class="completed-score">
                                        <div class="_1-3"> Успішно пройдено 1 / 3 матеріалів </div>
                                    </div>
                                    <div class="module-score">
                                        <div class="module-score-text"> Оцінка за модуль: 0 / 100 </div>
                                    </div>
                                </div>
                            </div>
                            <div class="course-name">
                                <div class="div2"> Курс «Основи виживання у кризових умовах» </div>
                            </div>
                        </div>
                        <div class="module-name">
                            <div class="div3"> Модуль 1: «Основи виживання в місті» </div>
                        </div>
                    </div>
                    <div class="greetings-section">
                        <div class="div4"> Вітаємо на першому модулі курсу! </div>
                        <div class="div5">
                            <span><span class="div-5-span"> У цьому модулі ви дізнаєтесь:<br />
                                </span>
                                <ul class="div-5-span2">
                                    <li>як оцінювати ризики та обирати безпечні місця в місті</li>
                                    <li>як правильно організувати та підготувати тривожний рюкзак</li>
                                    <li>як діяти під час обстрілів і в умовах відключення комунікацій</li>
                                    <li>як підтримувати психологічну стійкість навіть у стресових ситуаціях</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="reminder-section">
                    <div class="div6"> Пройдіть усі лекції, щоб краще засвоїти матеріал, і закріпіть знання, виконавши
                        тест — це відкриє шлях до наступних модулів. </div>
                </div>
            </div>
            <div class="lessons">
                <div class="lections">
                    <div class="div7"> Лекції </div>
                    <div class="lection">
                        <div class="frame-270">
                            <div class="text"> Виживання в місті: перші кроки </div>
                            <img class="icon-done-lection" src="assets/checker-on.svg" />
                        </div>
                        <div class="video-section" [style.background-image]="'url(../../assets/video-section.png)'">
                            <div class="play">
                                <img class="icon-play" src="assets/icon-play.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="articles">
                    <div class="articles-text"> Статті </div>
                    <div class="list-of-articles">
                        <div class="article-1" routerLink="/learning/article">
                            <div class="label"> 🏙️Основи виживання в місті: що потрібно знати </div>
                            <div class="section">
                                <div class="text-image-section">
                                    <div class="div8"> Врятуй себе - врятуй інших </div>
                                    <img class="article-image" src="assets/article-image.png" />
                                </div><img class="icon-done" src="assets/checker-on.svg" />
                            </div>
                        </div>

                        <div class="article-1">
                            <div class="label"> 🏙️Основи виживання в місті: що потрібно знати </div>
                            <div class="section">
                                <div class="text-image-section">
                                    <div class="div8"> Врятуй себе - врятуй інших </div>
                                    <img class="article-image" src="assets/article-image.png" />
                                </div><img class="icon-done" src="assets/checker-on.svg" />
                            </div>

                        </div>

                        <div class="article-1">
                            <div class="label"> 🏙️Основи виживання в місті: що потрібно знати </div>
                            <div class="section">
                                <div class="text-image-section">
                                    <div class="div8"> Врятуй себе - врятуй інших </div>
                                    <img class="article-image" src="assets/article-image.png" />
                                </div><img class="icon-done" src="assets/checker-on.svg" />
                            </div>

                        </div>


                        <div class="article-1">
                            <div class="label"> 🏙️Основи виживання в місті: що потрібно знати </div>
                            <div class="section">
                                <div class="text-image-section">
                                    <div class="div8"> Врятуй себе - врятуй інших </div>
                                    <img class="article-image" src="assets/article-image.png" />
                                </div><img class="icon-done" src="assets/checker-on.svg" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="button">
                <div class="button-text"> ЗДАТИ ТЕСТ </div>
                <span class="tooltip-text">Недоступно: потрібно пройти всі лекції та відео</span>
            </div>
        </div>
    </div>
</div>