<div class="course-category">
    <app-sidebar></app-sidebar>
    <div class="learning2">
        <div class="decoration2">
        </div>
        <div class="courses-category">
            <div class="div2">Категорії курсів</div>
            <div class="courses-list">
                <div *ngFor="let cat of courseCategories; let last = last">
                    <div class="course-category-item" [class.active]="isSelected(cat.name)"
                        (click)="selectCategory(cat.name)">
                        <div class="course-category-icon">{{ cat.icon }}</div>
                        <div class="category-course-label">{{ cat.name }}</div>
                    </div>
                    <div *ngIf="!last" class="separator"></div>
                </div>

                <div class="button" routerLink="/learning/create-course">
                    <div class="button-title-create-course">Створити курс</div>
                </div>
            </div>
        </div>

        <div class="courses-list-main">
            <div class="label-bar">
                <div class="div10">{{ categoryHeading }}</div>
            </div>
            <div class="search-autolayout">
                <div class="input-search">
                    <img class="search" src="assets/search.svg" alt="Пошук" />
                    <input class="placeholder-search" type="text" placeholder="Назва курсу" />
                </div>
            </div>
            <div class="courses-list-category">
                <div *ngFor="let course of filteredCourses" class="course-card">
                    <div class="hero-image" [style.background-image]="'url(' + course.imageUrl + ')'">
                        <div class="rating">
                            <div class="star-rating">
                                <img class="star" src="assets/star.svg" alt="Зірка" />
                                <div class="rating-label">{{ course.rating }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <div class="description-title">{{ course.title }}</div>
                        <div class="description-details">{{ course.description }}</div>
                    </div>
                    <div class="button">
                        <div class="button-title">Дізнатись детальніше</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>