.course-category,
.course-category * {
    box-sizing: border-box;

}

.course-category {
    background: #cfd6e2;
    padding: 24px 48px 24px 24px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    align-items: flex-start;
    align-self: stretch;
    justify-content: flex-start;
    position: relative;
    min-height: 950px;
}

.learning2 {
    background:
        linear-gradient(var(--white-text), var(--white-text)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;

    border: 2px solid transparent;
    border-radius: 12px;
    padding: 48px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    max-width: 1600px;
    position: relative;
    overflow: hidden;

    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
}


.decoration2 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.33;
    flex-shrink: 0;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 862px;
    top: 473px;
    filter: blur(124.4px);
}

.courses-category {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 425px;
    position: relative;
}

.div2 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h2-font-family);
    font-size: var(--h2-font-size, 24px);
    line-height: var(--h2-line-height, 140%);
    font-weight: var(--h2-font-weight, 600);
    position: relative;
    align-self: stretch;
}

.courses-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.vector2 {
    flex-shrink: 0;
    width: 18px;
    height: 21px;
    position: relative;
    overflow: visible;
}

.div3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.course-category-icon {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h3-font-family, );
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
}


.course-category-item {
    width: 425px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.course-category-item:hover {
    background-color: var(--hover, #f0f5ff);
    transform: scale(1.05);
    border-radius: 12px;
    padding: 12px;
}

.course-category-item.active {
    background-color: var(--decoration, #dbebf8);
    border: 1px solid var(--secondary);
    border-radius: 12px;
    padding: 12px;
}

.div5 {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h3-font-family, );
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    width: 20px;
    height: 28px;
}

.category-course-label {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h3-font-family, );
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    flex: 1;
}


.separator {
    height: 1px;
    width: 100%;
    background-color: #ACBDE8;
    border-radius: 1px;
}


.courses-list-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.courses-list-navbar {
    display: flex;
    flex-direction: column;
    width: 926px;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label-bar {
    background: var(--primary, #5080e2);
    border-radius: 12px;
    padding: 12px 0px 12px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.div10 {
    color: var(--white-text, #f9fbff);
    text-align: center;
    font-family: var(--h1-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h2-font-size, 32px);
    line-height: var(--h1-line-height, 130%);
    font-weight: var(--h2-font-weight, 700);
    position: relative;
}

.label {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.div9 {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h2-font-family);
    font-size: 22.66666603088379px;
    line-height: 150%;
    font-weight: 500;
    position: relative;
}



.filter {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter:hover {
    transform: scale(1.1);
}

.filter-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.div11 {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h4-font-weight, 500);
    position: relative;
}

.autolayout-search-sort {
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transition: all 0.3s ease;
}

.search-autolayout {
    background: var(--decoration, #dbebf8);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    max-height: 50px;
    gap: 10px;
    align-items: flex-start;
    align-self: stretch;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    border: 1px solid;
    border-color: #364fb203;
    transition: all 0.3s ease;
}

.search-autolayout:hover,
.search-autolayout:focus-within {
    border: 1px solid;
    border-color: var(--primary);
}

.input-search {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.search {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.placeholder-search {
    text-align: left;
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h4-font-weight, 500);
    position: relative;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
}

.sort-icon {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sort-icon:hover {
    transform: scale(1.1);
}

.courses-list-category {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.course-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 489px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 2px solid transparent;
    background-image:
        linear-gradient(var(--decoration, #dbebf8), var(--decoration, #dbebf8)),
        linear-gradient(180deg, transparent, transparent);
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;

    transition: all 0.3s ease;
}

.course-card:hover {
    background-image:
        linear-gradient(var(--decoration, #dbebf8), var(--decoration, #dbebf8)),
        linear-gradient(180deg, rgba(53, 93, 170, 1) 0%, rgba(110, 144, 255, 1) 100%);

    transform: scale(1.02);
}

.hero-image {
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: 330px;
    position: relative;
    background: center;
    background-size: cover;
    background-repeat: no-repeat
}

.rating {
    background: var(--white-text, #f9fbff);
    border-radius: 12px;
    border-style: solid;
    border-color: #414d87;
    border-width: 1px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.star-rating {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.star {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.rating-label {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size, 16px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 400);
    position: relative;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.description-title {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.description-details {
    color: var(--primary, #355daa);
    text-align: left;
    font-family: var(--h2-font-family);
    font-size: var(--p-font-size, 12px);
    line-height: var(--h2-line-height, 150%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.button {
    background: var(--primary, #355daa);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.02);
    background: var(--tertiary);
}

.button-title {
    color: var(--white-text, #f9fbff);
    text-align: center;
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h4-font-weight, 500);
    position: relative;
    flex: 1;
}

.button-title-create-course {
    color: var(--white-text, #f9fbff);
    text-align: center;
    font-family: var(--h4-font-family);
    font-size: var(--h3-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h4-font-weight, 500);
    position: relative;
    flex: 1;
}

.star2 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.star3 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.star4 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.star5 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.star6 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.star7 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.star8 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.decoration3 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.33;
    flex-shrink: 0;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 130px;
    top: 716px;
    filter: blur(124.4px);
}

.decoration4 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.33;
    flex-shrink: 0;
    z-index: 0;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 1275px;
    top: 132px;
    filter: blur(124.4px);
}