<div class="layout">
    <div class="sidebar">
        <div class="bar-list">
            <div class="logo">
                <img class="alarm-icon" [src]="currentIcon" [class.fade-out]="fading" alt="Alarm" />
                <img class="sfl" src="assets/SFL.svg" alt="SFL" />
            </div>

            <div class="list-of-elements">
                <div class="block-elements" routerLink="/media" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: false }">
                    <img class="sidebar-icons" src="assets/media.svg" alt="Медіа" />
                    <div class="div">Медіа</div>
                </div>

                <div class="block-elements" routerLink="/learning" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: false }">
                    <img class="sidebar-icons" src="assets/learning.svg" alt="Навчання" />
                    <div class="div">Навчання</div>
                </div>

                <div class="block-elements" routerLink="/about-us" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: false }">
                    <img class="sidebar-icons" src="assets/info.svg" alt="Про нас" />
                    <div class="div">Про нас</div>
                </div>
            </div>

        </div>
        <div class="down-bar-list">
            <div class="block-elements" routerLink="/settings/notifications" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">
                <img class="sidebar-icons" src="assets/notifications.svg" alt="Сповіщення" />
            </div>
            <div class="block-elements" routerLink="/settings/account" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">
                <img class="sidebar-icons" src="assets/account.svg" alt="Акаунт" />
            </div>
        </div>
        <div class="decoration">
        </div>
    </div>
</div>