.restore-password {
    display: flex;
    flex-wrap: wrap;
    height: 1024px;
    align-items: center;
    justify-content: center;
    gap: 0px 0px;
    position: relative;
    background-color: var(--white-text);
    overflow: hidden;
}

.restore-password .decoration {
    position: absolute;
    width: 246px;
    height: 246px;
    top: 922px;
    left: 204px;
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
    opacity: 0.65;
}

.restore-password .div {
    top: 50px;
    left: 17px;
    opacity: 0.65;
    position: absolute;
    width: 246px;
    height: 246px;
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
}

.restore-password .decoration-2 {
    top: 108px;
    left: 971px;
    opacity: 0.65;
    position: absolute;
    width: 246px;
    height: 246px;
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
}

.restore-password .final-autolayout {
    display: flex;
    width: 700px;
    align-items: flex-start;
    gap: 68px;
    padding: 64px 180px 64px 64px;
    position: relative;
    background-color: var(--extra);
    border-radius: 64px;
    border: none;
}

.restore-password .final-autolayout::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 64px;
    background: linear-gradient(180deg, rgba(53, 93, 170, 1) 0%, rgba(110, 144, 255, 1) 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 1;
    pointer-events: none;
}

.restore-password .decoration-3 {
    top: 186px;
    left: 696px;
    opacity: 0.35;
    position: absolute;
    width: 246px;
    height: 246px;
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
}

.restore-password .decoration-4 {
    top: 412px;
    left: -30px;
    opacity: 0.35;
    position: absolute;
    width: 246px;
    height: 246px;
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
}

.restore-password .back-logo {
    position: relative;
    width: 48px;
    height: 48px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.restore-password .back-logo:hover {
    transform: scale(1.1);
}

.restore-password .autolayout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    width: 100%;
}

.restore-password .logo {
    display: flex;
    width: 140px;
    height: 38px;
    align-items: center;
    gap: 12.36px;
    position: relative;
}

.restore-password .vector {
    position: relative;
    width: 37.08px;
    height: 37.08px;
}

.restore-password .SFL {
    position: relative;
    width: 90.48px;
    height: 39.62px;
    margin-top: -0.81px;
    margin-bottom: -0.81px;
}


.confirmation-message {
    background-color: #e9f2ff;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
    color: #223f78;
    font-size: 18px;
}


.restore-password .autolayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.restore-password .label {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--h-1-font-family);
    font-weight: var(--h-1-font-weight);
    color: var(--additional);
    font-size: var(--h-1-font-size);
    text-align: center;
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    font-style: var(--h-1-font-style);
}

.restore-password .registration-form {
    align-items: center;
    gap: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
}

.restore-password .registration-form-2 {
    align-items: flex-start;
    gap: 28px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.restore-password .registration-form-3 {
    align-items: flex-end;
    gap: 64px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.restore-password .registration-form-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.restore-password .div-2 {
    align-items: flex-start;
    gap: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.restore-password .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    color: var(--additional);
    font-size: var(--h-3-font-size);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    font-style: var(--h-3-font-style);
}

.restore-password .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #364fb203;
    transition: border-color 0.2s ease-in-out;
}

.restore-password .input:hover,
.restore-password .input:focus-within {
    border-color: var(--primary);
}

.restore-password .input input {
    flex: 1;
    border: none;
    padding: 0;
    margin-right: 0;
    font-family: var(--p-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--h3-font-weight);
    color: var(--black-text);
    outline: none;
    width: 100%;
}

.restore-password .input-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    position: relative;
    flex: 0 0 auto;
}

.restore-password .input-icon-eye {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    position: relative;
    flex: 0 0 auto;
    cursor: pointer;
}

.restore-password .img {
    position: relative;
    width: 24px;
    height: 24px;
}

.restore-password .placeholder {
    position: relative;
    width: fit-content;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: var(--grey-text);
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    white-space: nowrap;
    font-style: var(--p-font-style);
}

.restore-password .empty-icon {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
}

.restore-password .link {
    position: relative;
    width: 164px;
    height: 24px;
}

.restore-password .text-wrapper-2 {
    position: absolute;
    top: -1px;
    left: -1px;
    font-family: var(--h-4-font-family);
    font-weight: var(--h-1-font-weight);
    color: var(--primary);
    font-size: var(--h-4-font-size);
    line-height: var(--h-4-line-height);
    text-decoration: underline;
    white-space: nowrap;
    text-align: center;
    letter-spacing: var(--h-4-letter-spacing);
    font-style: var(--h-4-font-style);
}

.restore-password .text-wrapper-2:hover {
    color: var(--secondary);
}

.restore-password .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--primary);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.restore-password .button:hover {
    background-color: var(--tertiary);
}


.restore-password .text-wrapper-3 {
    position: relative;
    flex: 1;
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    color: var(--white-text);
    font-size: var(--h-3-font-size);
    line-height: var(--h-3-line-height);
    text-align: center;
    letter-spacing: var(--h-3-letter-spacing);
    font-style: var(--h-3-font-style);
}

.restore-password .link-to-registration {
    align-self: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.restore-password .text-wrapper-account {
    position: relative;
    width: fit-content;
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    color: var(--secondary);
    font-size: var(--h-3-font-size);
    line-height: var(--h-3-line-height);
    white-space: nowrap;
    text-align: center;
    letter-spacing: var(--h-3-letter-spacing);
    font-style: var(--h-3-font-style);
    margin-bottom: 4px;
}

.restore-password .login-label {
    position: relative;
    flex: 0 0 auto;
    transition: color 0.2s ease-in-out;
}

.restore-password .text-wrapper-sign-up {
    position: relative;
    font-family: var(--h-3-font-family);
    font-weight: var(--h-1-font-weight);
    color: var(--primary);
    font-size: var(--h-3-font-size);
    line-height: var(--h-3-line-height);
    text-decoration: underline;
    white-space: nowrap;
    text-align: center;
    letter-spacing: var(--h-3-letter-spacing);
    font-style: var(--h-3-font-style);
    transition: all 0.2s ease;
}

.restore-password .text-wrapper-sign-up:hover {
    color: var(--secondary);
    transform: scale(1.02);
}

.restore-password .decoration-5 {
    top: 904px;
    left: 1126px;
    opacity: 0.65;
    position: absolute;
    width: 246px;
    height: 246px;
    background-color: var(--secondary);
    border-radius: 123px;
    filter: blur(124.4px);
}

.log-in,
.log-in * {
    box-sizing: border-box;
}

.log-in {
    background: var(--white-text, #f9fbff);
    height: 1024px;
    position: relative;
    overflow: hidden;
}

.ellipse-5 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.65;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 195px;
    top: 819px;
    filter: blur(124.4px);
}

.ellipse-4 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.65;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 989px;
    top: 45px;
    filter: blur(124.4px);
}

.ellipse-3 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.65;
    width: 246px;
    height: 246px;
    position: absolute;
    left: -136px;
    top: 134px;
    filter: blur(124.4px);
}

.ellipse-6 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.65;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 1334px;
    top: 720px;
    filter: blur(124.4px);
}

.modal-window {
    background:
        linear-gradient(var(--secondary), var(--white-text)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 662px;
    height: 451px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    overflow: hidden;
}

.ellipse-42 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.6;
    flex-shrink: 0;
    width: 246px;
    height: 246px;
    position: relative;
    filter: blur(124.4px);
}

.modal-text {
    background: var(--white-text, #f9fbff);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 528px;
    position: relative;
    overflow: hidden;
}

.label-text {
    color: var(--additional, #0e1e3e);
    text-align: center;
    font-family: var(--h1-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h1-font-size, 32px);
    line-height: var(--h1-line-height, 130%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.rakelovartem-gmail-com {
    color: var(--additional, #0e1e3e);
    text-align: center;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.frame-102 {
    background: var(--primary, #355daa);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 60px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

.frame-102:hover {
    background-color: var(--tertiary);
    transform: scale(1.02);
}


.text-close-modal {
    color: var(--white-text, #f9fbff);
    text-align: center;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    flex: 1;
}

.ellipse-32 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.65;
    flex-shrink: 0;
    width: 246px;
    height: 246px;
    position: relative;
    filter: blur(124.4px);
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}