<div class="restore-password">
    <div class="decoration"></div>
    <div class="div"></div>
    <div class="decoration-2"></div>
    <div class="final-autolayout">
        <div class="decoration-3"></div>
        <div class="decoration-4"></div>
        <img class="back-logo" src="assets/back-logo.svg" />
        <div class="autolayout-form">
            <div class="logo"><img class="alarm-icon" [src]="currentIcon" [class.fade-out]="fading" alt="Alarm" />
                <img class="SFL" src="assets/SFL.svg" />
            </div>
            <form class="autolayout" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="label">Відновлення паролю</div>
                <div class="registration-form">
                    <div class="registration-form-2">
                        <div class="registration-form-3">
                            <div class="registration-form-4">

                                <div class="div-2">
                                    <div class="text-wrapper">Електронна пошта</div>
                                    <div class="input">
                                        <img class="input-icon" src="assets/email.svg" alt="Email icon" />
                                        <input type="email" formControlName="email"
                                            placeholder="Наприклад, user@gmail.com" required />
                                    </div>
                                </div>

                            </div>
                            <button class="button" type="button" (click)="onSubmit()">
                                <div class="text-wrapper-3">Відновити пароль</div>
                            </button>
                        </div>

                        <div class="link-to-registration">
                            <div class="text-wrapper-account">Не маєте акаунта?</div>

                            <a routerLink="/login" class="login-label">
                                <div class="text-wrapper-sign-up">Зареєструватись</div>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="decoration-5"></div>

        <div class="modal-overlay" *ngIf="emailSent">
            <div class="modal-window">
                <div class="ellipse-4"></div>
                <div class="modal-text">
                    <div class="label-text">Лист відправлено</div>
                    <div class="rakelovartem-gmail-com">
                        📩 Ми надіслали інструкції на <b>{{ submittedEmail }}</b>.
                        <br /><br />
                        Перевірте вашу пошту та дотримуйтесь вказівок.
                    </div>
                    <div class="frame-102" (click)="closeModal()">
                        <div class="text-close-modal">Закрити</div>
                    </div>
                </div>
                <div class="ellipse-3"></div>
            </div>
        </div>


    </div>