.account,
.account * {
    box-sizing: border-box;
}

.account {
    background: #cfd6e2;
    padding: 24px 48px 24px 24px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow-y: auto;
}

.user-account {
    background:
        linear-gradient(var(--white-text, #dbebf8), var(--white-text, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
    border-radius: 12px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.decoration2 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.33;
    flex-shrink: 0;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 660px;
    top: 425px;
    filter: blur(124.4px);
}

.decoration3 {
    background: var(--secondary, #223f78);
    border-radius: 50%;
    opacity: 0.33;
    flex-shrink: 0;
    width: 246px;
    height: 246px;
    position: absolute;
    left: 1030px;
    top: 84px;
    filter: blur(124.4px);
}

.navbar {
    background:
        linear-gradient(var(--decoration, #dbebf8), var(--decoration, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.back {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.about-user {
    background:
        linear-gradient(var(--decoration, #dbebf8), var(--decoration, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 732px;
    position: relative;
    overflow: hidden;
}

.label-information {
    color: var(--secondary, #223f78);
    text-align: center;
    font-family: var(--h1-font-family, "MontserratAlternates-Bold", sans-serif);
    font-size: var(--h1-font-size, 36px);
    line-height: var(--h1-line-height, 130%);
    font-weight: var(--h1-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.avatar-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.avatar-modal-content {
    padding: 24px;
    width: 700px;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    background:
        linear-gradient(var(--white-text, #dbebf8), var(--white-text, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 5px solid transparent;
    border-radius: 12px;
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 24px;
    justify-items: center;
    padding: 16px 0;
    max-height: 60vh;
    overflow-y: auto;
}

.avatar-grid img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.avatar-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primary);
}

.avatar-grid img:hover,
.avatar-grid img.selected {
    border-color: var(--primary, #355daa);
}

.close-btn {
    background: var(--secondary, #dbebf8);
    color: var(--white-text, #223f78);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 24px;
    width: 100%;
    color: var(--white-text, #223f78);
    text-align: center;
    font-family: var(--h4-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h4-font-weight, 500);
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

.close-btn:hover {
    background: var(--tertiary, #355daa);
    color: #fff;
}


.replace-text {
    color: var(--secondary, #223f78);
    text-align: center;
    font-family: var(--h4-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h4-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h4-font-weight, 500);
    text-decoration: underline;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

.choose-avatar-label {
    color: var(--secondary, #223f78);
    text-align: center;
    font-family: var(--h4-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h2-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h2-font-weight, 500);
    position: relative;
    padding: 12px;
    background:
        linear-gradient(var(--decoration, #dbebf8), var(--decoration, #dbebf8)) padding-box,
        linear-gradient(180deg, rgba(53, 93, 170, 1), rgba(110, 144, 255, 1)) border-box;
    border: 2px solid transparent;
    border-radius: 12px;
}

.replace-text:hover {
    transform: scale(1.05);
}

.personal-block {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label-name {
    color: var(--additional, #0e1e3e);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.name-fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.surname-full,
.name-full,
.patronymic-full {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.surname-full .label-surname,
.name-full .label-name,
.patronymic-full .label-patronymic {
    color: var(--additional, #0e1e3e);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    align-self: stretch;
    position: relative;
}

.change-email-login {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label-change-email-login {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h2-font-family,
            "MontserratAlternates-SemiBold",
            sans-serif);
    font-size: var(--h2-font-size, 24px);
    line-height: var(--h2-line-height, 140%);
    font-weight: var(--h2-font-weight, 600);
    position: relative;
    align-self: stretch;
}

.name-fields .label-change-email-login {
    margin-bottom: -6px;
}

.autolayout-change-email {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.login-full {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label-login {
    color: var(--additional, #0e1e3e);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.input-class {
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(54, 79, 178, 0.01);
    border-width: 1px;
    padding: 12px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    transition: border-color 0.2s ease-in-out;
}

.input-class:hover,
.input-class:focus-within {
    border-color: var(--primary);
}

.input-class input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0;
    margin-right: 0;
    font-family: var(--p-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--h3-font-weight);
    color: var(--secondary);
    outline: none;
    width: 100%;
}

.placeholder-icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.account-circle2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.placeholder {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h4-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h4-font-size, 16px);
    line-height: var(--h4-line-height, 150%);
    font-weight: var(--h4-font-weight, 500);
    position: relative;
}

.empty-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.rectangle-13 {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
}

.email-full {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label-email {
    color: var(--additional, #0e1e3e);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.input-email {
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(54, 79, 178, 0.01);
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.email {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.change-password {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label-password {
    color: var(--secondary, #223f78);
    text-align: left;
    font-family: var(--h2-font-family,
            "MontserratAlternates-SemiBold",
            sans-serif);
    font-size: var(--h2-font-size, 24px);
    line-height: var(--h2-line-height, 140%);
    font-weight: var(--h2-font-weight, 600);
    position: relative;
    align-self: stretch;
}

.autolayout-password {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.password {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.password-label {
    color: var(--additional, #0e1e3e);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.input-password {
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(54, 79, 178, 0.01);
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.key {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.placeholder2 {
    color: var(--grey-text, #848ca9);
    text-align: left;
    font-family: var(--p-font-family, "MontserratAlternates-Regular", sans-serif);
    font-size: var(--p-font-size, 16px);
    line-height: var(--p-line-height, 140%);
    font-weight: var(--p-font-weight, 400);
    position: relative;
}

.icon-eye-closed {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.repeat-password {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.password-label-repeat {
    color: var(--additional, #0e1e3e);
    text-align: left;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.input-password-repeat {
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(54, 79, 178, 0.01);
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.key2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.icon-eye-open {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.button-save {
    background: var(--primary, #355daa);
    border-radius: 12px;
    padding: 12px 24px 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-save:hover {
    transform: scale(1.03);
    background-color: var(--tertiary);
}

.save-changes {
    color: var(--white-text, #f9fbff);
    text-align: center;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--p-font-weight, 500);
    position: relative;
    flex: 1;
}

.button-logout {
    border-radius: 12px;
    border: 2px solid;
    border-color: var(--error, #aa3535);
    background-color: var(--decoration);
    padding: 12px 24px 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-logout:hover {
    transform: scale(1.03);
    background-color: var(--error);
    color: var(--white-text);
}

.logout-label {
    color: var(--error, #aa3535);
    text-align: center;
    font-family: var(--h3-font-family, "MontserratAlternates-Medium", sans-serif);
    font-size: var(--h3-font-size, 20px);
    line-height: var(--h3-line-height, 140%);
    font-weight: var(--h3-font-weight, 500);
    position: relative;
    width: 232px;
}

.button-logout:hover .logout-label {
    color: var(--white-text);
}